$font-family-base:      	"Open Sans", sans-serif;
$headings-font-family:  	"Bree Serif", serif;

$font-size-base:        	18px;
$font-size-h1:          	1.8em;

$link-color:            	#9e4943;
$text-color:            	#222222;

$light-color:			#333333;
$lighter-color:			#555555;
$even-lighter-color:		#777777;
$other-light-color:             #dddddd;
$really-light-color:		#eeeeee;

$flickr-color:			#72858c;
$github-color:			#4183c4;
$rss-color:			#f16b24;
$twitter-color:			#44ccf6;	
$tumblr-color:			#2c4762;

$page-header-border-color: 	#ffffff;	

@import 'bootstrap.scss';

a {
  &:hover {
    text-decoration: none;
  }
}

h1, h2 {
  font-size: 1.9em;
  color: $light-color;
  a {
    color: inherit;
    &:hover {
      color: $link-color;
    }
  }
}

h2 {
  margin-bottom: 0;
}

h3, h4 {
  margin: 0.3em 0;
}

h3 {
  font-size: 1.5em;
  color: $lighter-color;
}

h4 {
  font-size: 1.3em;
  color: $even-lighter-color;
}

nav {
  li {
    padding: 0 0.5em;
  }
}

footer {
  font-size: 0.85em;
  background-color: $really-light-color;
  border-top: 1px solid $other-light-color;
  margin: 0;
  padding: 2em 0;
  color: $lighter-color;
  text-align: center;
  span {
    color: $even-lighter-color;
  }
}

article {
  border-bottom: 1px solid $other-light-color;
  margin-bottom: 2.5em;
  i {
    font-size: 0.85em;
    color: $lighter-color;
  }
  section {
    margin: 1em 0;
    img {
      &.pull-right {
        border: 1px solid $light-color;
        margin: 0 0 1em 1.5em;
      }
    }
  }
}

.page-header {
  background-color: $really-light-color;
  border-bottom: 1px solid $other-light-color;
  margin: 0;
  padding: 2em 0;
  text-align: center;
  i {
    font-size: 1.8em;
  }
  img {
    width: 10em;
    height: 10em;
    border: 2px solid $light-color;
  }
}

.social {
  li {
    display: inline-block;
    padding: 0 0.25em;
    a {
      padding: 0.5em 0;
      &:hover {
        background-color: transparent;
      }
    }
    &.flickr {
      a:hover {
        color: $flickr-color;
      }
    }
    &.github {
      a:hover {
        color: $github-color;
      }
    }
    &.rss {
      a:hover {
        color: $rss-color;
      }
    }
    &.tumblr {
      a:hover {
        color: $tumblr-color;
      }
    }
    &.twitter {
      a:hover {
        color: $twitter-color;
      }
    }
  }
}

@media (min-width: $screen-md-min) {
  .page-header {
    .header-right {
      text-align: left;
    }
  }
}
